@font-face {
font-family: "Jetbrains Mono";
src: url("./JetBrainsMono-ExtraBold.woff2") format("woff");
}
input, button, body {
	font-family: "Jetbrains Mono", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
html {
	background-color: #121212;
}
body {
	margin: auto;
	font-weight: 800;
	text-transform: uppercase;
	padding-bottom: 50px;
}
header, footer {
	background-color: #C0BAA5;
	padding: 10px;
	text-align: center;
}
footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	text-transform: none;
	font-family: Arial, sans-serif;
	font-weight: 100;
	color: #333333;
	font-size: .8em;
}

#banner {
	text-align: center;
}
#wrapper{
	width: 80%;
	max-width: 800px;
	margin: auto;
	padding-top: 10px;
}
input {
	width: 250px;
	text-align: left;
	padding: 5px;
	box-sizing:border-box;
	border: 2px solid #121212;
	resize: none;
	
}
.button {
	border: none;
	background-color:#D3532F;
	color: white;
	width: auto;
	text-align: center;
	margin: 4px 2px;
	padding: 7px 14px;
}
ul {
	list-style: none;
	line-height: 200%;
}
li {
	list-style-position: inside;
}
li a {
	text-decoration-line: none;
	color: #fefefe;
}
li a:hover {
	color: #FFD530;
}
li a:active, li a:visited {
	background-color: #FFD530;
	color: #121212;
}
a {
	color: #333333;
	text-decoration-line: underline;
	text-decoration-style: dotted;
}
form {
	text-align: center;
}
#duckSearch{
	text-align: center;
	margin: auto;
}
